WG_HOST=your_server_ip
PASSWORD_HASH=your_bcrypt_hash
SECRET=need_generate
# Для генерации PASSWORD_HASH используйте: docker run ghcr.io/w0rng/amnezia-wg-easy:latest bash -c "npm run generate-hash -- --password your_password"
# SECRET сгенерирован командой: head -c 16 /dev/urandom | xxd -ps
# Скопируйте .env_example в .env: cp .env_example .env